<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/themes/starter-template.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Home page", "Index", null, new { @class = "navbar-brand btn btn-default" })
                @Html.ActionLink("About us", "About", null, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>